<html><head>

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
	<script type="text/javascript" src="http://janwillemtulp.com/d3linechart/d3-v1.8.2.js"></script>

	<script language="javascript"
      type="text/javascript"
      src="/static/graph.js"></script>

	<title>Monitor</title>

	<style type="text/css">
		path {
		    stroke: steelblue;
		    stroke-width: 2;
		    fill: none;
		}

		line {
		    stroke: black;
		}

		text {
		    font-family: Arial;
		    font-size: 9pt;
		}
	</style>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-7015427-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

  </head>
  <body>
		

{% for chart in charts %}
<h2>{{chart}}</h2>
<div id='{{chart}}' class='chart'></div>
{% endfor %}
<div id='test-chart-area' class='chart'></div>



<script type="text/javascript">

function decodeJSON(encodedJSON) {
    var decodedJSON = $('<div/>').html(encodedJSON).text();
    return $.parseJSON(decodedJSON);
}
$(document).ready(function(){

var monitor_data = decodeJSON('{{ data }}');

var keys_list = Object.keys(monitor_data);
for(var i=0;i<keys_list.length;i++){
	key = Object.keys(monitor_data)[i]
	data = monitor_data[key];
	// console.log(data);
	draw_graph(data, key)
}

});
		
	
		</script>
</body></html>